<mat-card class="example-card">
  <h2 class="mat-elevation-z1">Welcome to My Profile</h2>
  <mat-card-title-group>
    <mat-card-title class="mat-elevation-z2">
      <h3>Hello, my Name is</h3>
      <h1>Genel <span>De la Pena</span></h1>
      <h4>Bachelor of Sciece in<br>Information Technology</h4>
    </mat-card-title>
    <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/Nel.jpg">
  </mat-card-title-group>
  <mat-card-content class="mat-elevation-z2">
    <p>To tell you honestly I am 27 years old, currently residing in Brgy.Parag-um Carigara Leyte. I am a religious person,
      honest sometimes. Im a good in time management, always willing to learn new skills. Easily adapt sorroundings. I am friendly,
      helpful, and of course I have a sense of humour. I have a lot of hobbies when bore. I exhaust
      myself playing basketball, billiard and other things because that's what makes me happy.</p>
  </mat-card-content>
</mat-card>